<!DOCTYPE html>
<html lang="en">

	<head>
		<title> My Resume </title>
		<link rel="stylesheet" type="text/css" href="../css/styles.css">
		<meta charset = "UTF-8">
		<meta name="description" content = "Main page for my resume">
		<meta name="author" content="Aaron Thomas">
	</head>


	<body>
		<section id="menu">
			<img id="menu-icon" src="../images/menu-icon.png">
			<div class="menu-options">
				<ul>
					<li><a href="main.html">Home</a></li>
					<li><a href="projects.html">Projects</a></li>
					<li><a href="education.html">Education</a></li>
					<li><a href="contact.html">Contact</a></li>
				</ul>
			</div>
		</section>
		<h2>  Welcome to my resume! </h2>
		<h3>About Me</h3>
		<p> Hello, and welcome to my front page. Above you will find links that will tell you everything you want to know about me. As for myself, back in middle school I got interested in development when I took a Visual Basic class. 
		After high school I started wanting to learn game development where I learned a variety of languages. Eventually I decided to change into application and web development where I earned my bachelors in computer science from 
	University of North Carolina - Wilmington. </p>
	</body>


</html>