<!DOCTYPE html>
<html lang="en">

	<head>
		<link rel="stylesheet" type="text/css" href="../css/styles.css">
		<meta charset = "UTF-8">
		<meta name="author" content="Aaron Thomas">
	</head>


	<body>
		<section id="menu">
			<img id="menu-icon" src="../images/menu-icon.png">
			<div class="menu-options">
				<ul>
					<li><a href="main.html">Home</a></li>
					<li><a href="projects.html">Projects</a></li>
					<li><a href="education.html">Education</a></li>
					<li><a href="about.html">About</a></li>
					<li><a href="contact.html">Contact</a></li>
				</ul>
			</div>
		</section>

	</body>


</html>